<html>
    <head>
        <title>Chat App</title>
        <meta charset="utf-8">
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>-->
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io('http://127.0.0.1:80');
            console.log("HI")

            document.addEventListener("DOMContentLoaded",function(){
                var button = document.getElementById('send');


                button.onclick = function() {

                    console.log("Button clicked");
                    var inputElement = document.getElementById('message');
                    var inputValue = inputElement.value;

                    socket.emit('my_event', {data : inputValue});
                }

                socket.on('connect',function(){
                    console.log("This is the socket")
                    console.log(socket)
                });

            });

        </script>
    </head>
    <body>
            <input type="text" id="message" placeholder="EnterSomething"></input>
            <button id="send" type="submit">send</button>
        

    </body>
</html>